In [1]:
!pip install xgboost

Requirement already satisfied: xgboost in d:\anaconda\lib\site-packages (1.6.2)
Requirement already satisfied: numpy in d:\anaconda\lib\site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in d:\anaconda\lib\site-packages (from xgboost) (1.13.1)

In [10]:
from sklearn.datasets import fetch_openml
i = fetch_openml(name = 'boston',version=1, as_frame=True)

In [36]:
import numpy as np
import pandas as pd
import warnings

warnings.filterwarnings('ignore')

In [18]:
df = pd.DataFrame(data = i.data ,columns = i.feature_names)

In [20]:
df['target'] = i.target

In [22]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [78]:
df= df.astype(float)

In [80]:
df.dtypes

CRIM       float64
ZN         float64
INDUS      float64
CHAS       float64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD        float64
TAX        float64
PTRATIO    float64
B          float64
LSTAT      float64
target     float64
dtype: object

In [82]:
x = df.iloc[:,0:-1]
y = df.iloc[:,-1]

In [84]:
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor

In [158]:
xgb = XGBRegressor(eta = 0.3 ,gamma =60 ,reg_lambda =10)
gb = GradientBoostingRegressor()
rf = RandomForestRegressor()

In [164]:
from sklearn.model_selection import cross_val_score
import time

In [172]:
start1 = time.time()
print('XGBoost' , np.mean(cross_val_score(xgb,x,y,cv=10)))
print(time.time()-start1)
start2 = time.time()
print('Gradient Boost' , np.mean(cross_val_score(gb,x,y,cv=10)))
print(time.time()-start2)
start3 = time.time()
print('Random Forest' , np.mean(cross_val_score(rf,x,y,cv=10)))
print(time.time()-start3)

XGBoost 0.5186113269449583
0.744121789932251
Gradient Boost 0.4400049537015403
1.3532614707946777
Random Forest 0.49291974978828285
3.198551654815674